<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <link rel="icon" href="{% static 'assets/images/HUDELS.png' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <title>HUDELS</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-digimedia-v3.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">

    <style>
        .fa {
            color: #000000;
        }

        .fa-facebook:hover {
            color: #1778f2;
        }

        .fa-instagram:hover {
            color: #E1306C;
        }

        .fa-whatsapp:hover {
            color: #00e15e;
        }

        .fa-twitter:hover {
            color: #1DA1F2;
        }

        .fa-youtube:hover {
            color: #FF0000;
        }

        .fa-google-plus:hover {
            color: #db4a39;
        }

        .icons {

            margin-top: 50px;
            cursor: pointer;
            background-color: #00000000;

        }

        .zoom:hover {
            -ms-transform: scale(1.5);
            /* IE 9 */
            -webkit-transform: scale(1.5);
            /* Safari 3-8 */
            transform: scale(1.2);
        }

        .loader-bg {
            position: fixed;
            z-index: 999999;
            background: #fff;
            width: 100%;
            height: 100%;
        }

        .loader-p {
            border: 0 solid transparent;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            position: absolute;
            top: calc(50vh - 75px);
            left: calc(50vw - 75px);
        }

        .loader-p:before,
        .loader-p:after {
            content: '';
            border: 1em solid #15e38a;
            border-radius: 50%;
            width: inherit;
            height: inherit;
            position: absolute;
            top: 0;
            left: 0;
            animation: loader 2s linear infinite;
            opacity: 0;
        }

        .loader-p:before {
            animation-delay: 0.5s;
        }

        @keyframes loader {
            0% {
                transform: scale(0);
                opacity: 0;
            }

            50% {
                opacity: 1;
            }

            100% {
                transform: scale(1);
                opacity: 0;
            }
        }

        .services .icon img {
            margin-bottom: 10px;
            max-width: 50px;
            min-width: 50px;
        }

        @media screen and (max-width: 1000px) {
            .logo_img {
                margin-left: -100px;
            }
        }
    </style>
</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div class="loader-bg">
        <div class="loader-p">

        </div>
    </div>
    <!-- ***** Preloader End ***** -->



    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="" onclick="return getData()" class="logo">
                            <img class="logo_img" src="{% static 'assets/images/HUDELS.png' %}" alt=""
                                style="width:40% ;">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#about">About</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
                            <li class="scroll-to-section"><a href="#free-quote">Partnership</a></li>
                            <li class="scroll-to-section"><a href="{% url 'products' %}">Products</a></li>


                            <li class="scroll-to-section"><a href="#contact">Contact</a></li>
                            <li class="scroll-to-section">
                                <div class="border-first-button"><a href="#">Career</a></div>
                            </li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->



    <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6 align-self-center">
                            <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s"
                                data-wow-delay="1s">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <h6>HELLO </h6>
                                        <h2>WE HELP TO GROW YOUR BUSINESS</h2>
                                        <h3>We Redefine Services-Join hands with us to enhance your business</h3>
                                        <p>It took us sometime to make these partnerships with some big names. But this
                                            has helped us grow in every aspect and each one of them has contributed to
                                            our success story, may it be big or small. Without these partnerships we
                                            perhaps may not exist and thus along with our customers we value all of
                                            these as brands with high regards and would like to Thank each one of them
                                            for making our journey a successful one till now.</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="border-first-button scroll-to-section">
                                            <a href="{% url 'products' %}">Our Products</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6" style="margin-top:89px">
                            <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{% static 'assets/images/hosp3.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="about" class="about section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about-left-image  wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">
                                <img src="{% static 'assets/images/about-dec-v3.png' %}" alt="">
                            </div>
                        </div>
                        <div class="col-lg-6 align-self-center  wow fadeInRight" data-wow-duration="1s"
                            data-wow-delay="0.5s">
                            <div class="about-right-content">
                                <div class="section-heading">
                                    <h6>About Us</h6>
                                    <h4>Hudels </h4>
                                    <div class="line-dec"></div>
                                </div>
                                <p>Hudels Hospitality Services Pvt Ltd, founded in 2019 and has grown with time. Hudels
                                    has a diversified culture and is highly Service oriented. We cater in to various
                                    segments and ensure that we deliver high standards and meet the requirement of each
                                    client. We believe in strong relationships and we focus on building healthy
                                    relationships with our Customers</p>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="border-first-button scroll-to-section">
                                            <a href="{% url 'about' %}">More</a>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="services" class="services section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h6>Our Services</h6>
                        <h4>What Our Company <em>Provides</em></h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="naccs">
                        <div class="grid">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="menu">
                                        <div class="first-thumb active">
                                            <div class="thumb">
                                                <span class="icon"><img src="{% static 'assets/images/hotels.png' %}"
                                                        alt=""></span>

                                                Hotel Softwares
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <span class="icon"><img
                                                        src="{% static 'assets/images/travel-and-tourisms.png' %}"
                                                        alt=""></span>

                                                Holidays
                                            </div>
                                        </div>
                                        <div>
                                            <div class="thumb">
                                                <span class="icon"><img
                                                        src="{% static 'assets/images/content-marketings.png' %}"
                                                        alt=""></span>
                                                Digital Marketing
                                            </div>
                                        </div>

                                        <div class="last-thumb">
                                            <div class="thumb">
                                                <span class="icon"><img src="{% static 'assets/images/bank.png' %}"
                                                        alt=""></span>
                                                Govt. Projects
                                            </div>
                                        </div>

                                        <div class="last-thumb">
                                            <div class="thumb">
                                                <span class="icon"><img src="{% static 'assets/images/gift.png' %}"
                                                        alt=""></span>
                                                R.Y.C

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <ul class="nacc">
                                        <li class="active">
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="left-text">
                                                                <h4>Hotel Management</h4>
                                                                <p>We cater Software Tools for Hotels & Hospitality
                                                                    Sector. Some of our Products are,</p>
                                                                <div class="ticks-list"><span><i
                                                                            class="fa fa-check"></i> Review
                                                                        Connect</span> <span><i class="fa fa-check"></i>
                                                                        Inhouse Review Tools</span>
                                                                    <span><i class="fa fa-check"></i> Self Check In
                                                                    </span>
                                                                    <span><i class="fa fa-check"></i> Social Media
                                                                        Connect</span>
                                                                    <span><i class="fa fa-check"></i> Booking
                                                                        Engines</span> <span><i class="fa fa-check"></i>
                                                                        Branding & Marketing</span>
                                                                </div>

                                                                <a href="{% url 'hotelmanagement' %}"><button
                                                                        type="button"
                                                                        class="btn btn-outline-info">View</button></a>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="right-image">
                                                                <img src="{% static 'assets/images/qrbasedriwe.webp' %}"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="left-text">
                                                                <h4>
                                                                    Holidays</h4>
                                                                <p>Tripshouse Holidays, by Hudels Hospitality, provides
                                                                    exotic holiday packages to its customers at a cost
                                                                    effective price. The packages are handpicked and
                                                                    tailor made, wherein customization is also possible
                                                                    according to each ones needs.</p>
                                                                <div class="ticks-list"><span><i
                                                                            class="fa fa-check"></i>Hotel Booking
                                                                    </span>
                                                                    <span><i class="fa fa-check"></i> Packages</span>
                                                                    <span><i class="fa fa-check"></i> Visa
                                                                        Assistance</span>
                                                                    <span><i class="fa fa-check"></i> Virtual Travel
                                                                        Assistant</span>
                                                                    <span><i class="fa fa-check"></i>Flight Ticket
                                                                        Bokking</span>

                                                                </div>
                                                                <p>We currently operate
                                                                    both International & Domestic.
                                                                    What more, we offer best rates in the market for any
                                                                    Airline ticket booking for our customers, with
                                                                    instant confirmation</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="right-image">
                                                                <img src="{% static 'assets/images/travelling.webp' %}"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="left-text">
                                                                <h4>Digital Marketing</h4>
                                                                <p>We offer various Digital Marketing Services to our
                                                                    clients. This includes complete Rebranding,
                                                                    Marketing, Lead Management and Visibility.
                                                                </p>
                                                                <div class="ticks-list"><span><i
                                                                            class="fa fa-check"></i> Digital Marketing
                                                                        Platform</span> <span><i
                                                                            class="fa fa-check"></i> Social Media
                                                                        Promotion</span>
                                                                    <span><i class="fa fa-check"></i> Website & Mobile
                                                                        App Development</span>
                                                                    <span><i class="fa fa-check"></i>Graphic
                                                                        Designing</span>
                                                                    <span><i class="fa fa-check"></i> Email & SMS
                                                                        Marketing</span> <span><i
                                                                            class="fa fa-check"></i> E Commerce
                                                                        Process</span>
                                                                </div>
                                                                <p> We have
                                                                    our specialized team who are well experienced in
                                                                    serving in excess of 650+ clients across the globe..
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="right-image">
                                                                <div class="col-lg-9" style="text-align: center;">
                                                                    <img src="{% static 'assets/images/1637320869386 (1).jpeg' %}"
                                                                        alt="" style="width: 45%;">
                                                                </div>
                                                                <img src="{% static 'assets/images/MVU-BSBUSAD-2020-Q1-Skyscraper-Digital-Marketing-Strategy-Key-Components-Tips-to-Get-Started-01-removebg-preview.png' %}"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="left-text">
                                                                <h4>
                                                                    Government Projects</h4>
                                                                <p>Hudels has been taking up a few Government Projects
                                                                    from the Government of Kerala in various sectors. In
                                                                    2020 Hudels got into its first Teaming agreement
                                                                    with Kerala Electricals & Allied Engg Co (KEL) as a
                                                                    part of the Covid related activities and has been
                                                                    succesful in delivering the project completely. In
                                                                    2022, Hudels has been Empanaled with Steel
                                                                    Industries Kerala Ltd (SILK), an Kerala Government
                                                                    Company and is a Licensed Vendor to deliver various
                                                                    development activities. </p>
                                                                <div class="ticks-list"><span><i
                                                                            class="fa fa-check"></i> Instalation of
                                                                        Street Light
                                                                    </span> <span><i class="fa fa-check"></i> Design &
                                                                        Construction of Bus
                                                                        Shelters</span>

                                                                    <span><i class="fa fa-check"></i>
                                                                        Set up of Smart Class Rooms</span>
                                                                    <span><i class="fa fa-check"></i> Design and Set Up
                                                                        of Open Gym</span>
                                                                    <span><i class="fa fa-check"></i> Instalation of
                                                                        CCTV Camera</span>
                                                                </div>
                                                                <p>We deliver high quality products and ensure that the
                                                                    service of the products are taken care with long
                                                                    term warranty period. </p>
                                                                <span>Sanitising :</span>
                                                                <p>We now introduce you to our non IT segments which has
                                                                    grown in to prominence since the start of the
                                                                    pandemic. We are providing premium premise
                                                                    disinfection services with latest equipment's and
                                                                    following all WHO guidelines. We practice the best
                                                                    procedures and make sure we keep all our safety
                                                                    measures intact.

                                                                </p>
                                                                <div class="ticks-list"><span><i
                                                                            class="fa fa-check"></i> ORGANIC PREMISE
                                                                        DISINFECTING</span>
                                                                </div>
                                                                <p>We are partnered with KEL, Kerala Electricals &
                                                                    Allied Engg Co Ltd (An Kerala Government undertaking
                                                                    company) and we provide our disinfection service
                                                                    through out Kerala and have done various Central &
                                                                    State government premises.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 align-self-baseline">
                                                            <div class="right-image">
                                                                <div class="col-lg-9" style="text-align: center;">
                                                                    <img src="{% static 'assets/images/keralalogo.png' %}"
                                                                        alt="" style="width: 45%;">
                                                                </div>

                                                                <br>
                                                                <img src="{% static 'assets/images/silk.png' %}"
                                                                    class="img-fluid" alt=""
                                                                    style="margin-top: 100px;"><br>
                                                                <img src="{% static 'assets/images/KEL (1).jpeg' %}"
                                                                    class="img-fluid" alt="" style="margin-top: 50px;">
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div>
                                                <div class="thumb">
                                                    <div class="row">
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="left-text">
                                                                <h4>
                                                                    Reward Your Customer</h4>
                                                                <p>Be a brand that customers love and give them a reason
                                                                    to keep coming back for more always and engage them
                                                                    with our QR code based
                                                                    loyalty programs. Talk to us today on how rewards
                                                                    via QR Codes can transform your branding and
                                                                    improve customer loyalty rates!</p>
                                                                <div class="ticks-list"><span><i
                                                                            class="fa fa-check"></i>Customer Retention
                                                                    </span>
                                                                    <span><i class="fa fa-check"></i>Customer
                                                                        Rewards</span>
                                                                    <span><i class="fa fa-check"></i>Customer Loyality
                                                                    </span>
                                                                    <span><i class="fa fa-check"></i>Increase
                                                                        Revenue</span>
                                                                    <span><i class="fa fa-check"></i>Brand
                                                                        Visibility</span>

                                                                </div>
                                                                <p>QR Codes for loyalty programs serve as a great avenue
                                                                    for customer retention. As stated previously,
                                                                    customers connect on a higher level if a brand
                                                                    personalizes loyalty programs based on their taste,
                                                                    shopping, and spending behavior.</p>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 align-self-center">
                                                            <div class="right-image">
                                                                <img src="{% static 'assets/images/smes-reward-1200x694.png' %}"
                                                                    alt="">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="free-quote" class="free-quote">
        <div class="col-lg-12">
            <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">

                <h4>Our <em>Partnership</em></h4>
                <div class="line-dec"></div>
            </div>
        </div>
        <div class="container">

            <div class="row">
                <section id="clients" class="clients section-bg">
                    <div class="container" data-aos="zoom-in">

                        <div class="row">



                            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center zoom">
                                <img src="{% static 'assets/images/KEL (1).jpeg' %}" class="img-fluid " alt=""
                                    style="height: 80%;">
                            </div>

                            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center zoom">
                                <img src="{% static 'assets/images/silk.png' %}" class="img-fluid" alt=""
                                    style="height: 80%;">
                            </div>

                            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center zoom">
                                <img src="{% static 'assets/images/Dnata.jpeg' %}" class="img-fluid" alt=""
                                    style="height: 80%;">
                            </div>

                            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center zoom">
                                <img src="{% static 'assets/images/Tripadvisor-Logo-2020-present.jpeg' %}"
                                    class="img-fluid" alt="" style="height: 80%;">
                            </div>

                            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center zoom">
                                <img src="{% static 'assets/images/bandose.png' %}" class="img-fluid" alt=""
                                    style="height: 80%;">
                            </div>

                            <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center zoom">
                                <img src="{% static 'assets/images/PURPLEPALMSLOGOLatest.jpeg' %}" class="img-fluid"
                                    alt="" style="height: 80%;">
                            </div>





                        </div>

                    </div>

                    <div class="col-12  mt-2"><a href="{% url 'partnership' %}">
                            <button type="button" class="btn btn-light btn-floating rounded-pill "> More
                                <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            </button></a>
                    </div>
                </section>
            </div>
        </div>
    </div>



    <div id="contact" class="contact-us section">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s">
                        <h6>Contact Us</h6>
                        <h4>Get In Touch With Us <em>Now</em></h4>
                        <div class="line-dec"></div>
                    </div>
                </div>
                <div class="col-lg-12 wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.25s">
                    <form id="contact" action="{% url 'contactus' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="contact-dec">
                                    <img src="assets/images/contact-dec-v3.png" alt="">
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div id="map">
                                    <iframe
                                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15722.410260657989!2d76.49100885!3d9.88367175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x70d5284a1a0ce6af!2sHudels%20Hospitality%20Services!5e0!3m2!1sen!2sin!4v1664859145610!5m2!1sen!2sin"
                                        width="100%" height="315px" frameborder="0" style="border:0"
                                        allowfullscreen></iframe>
                                </div>
                                <div class="col-lg-12" style="margin-left: 10px;">
                                    <fieldset>
                                        <input type="name" name="name" id="name" placeholder="Name" autocomplete="on"
                                            required>
                                    </fieldset>
                                    <fieldset>
                                        <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*"
                                            placeholder="Your Email" required="">
                                    </fieldset>
                                    <fieldset>
                                        <input type="subject" name="subject" id="subject" placeholder="Subject"
                                            autocomplete="on">
                                    </fieldset>
                                </div>
                                <div class="col-lg-12" style="margin-left: 10px;">
                                    <fieldset>
                                        <textarea name="message" type="text" class="form-control" id="message"
                                            placeholder="Message" required=""></textarea>
                                    </fieldset>
                                </div>
                                <div class="col-lg-12" style="margin-left: 10px;">
                                    <fieldset>
                                        <button type="submit" id="form-submit" class="main-button ">Send Message
                                            Now</button>
                                    </fieldset>
                                </div>
                                <br>
                            </div>
                            <div class="col-lg-7">
                                
                                <div class="fill-form">
                                    <div class="row">

                                        <div class="col-lg-4">
                                            <div class="info-post">
                                                <div class="icon"><a href="tel:+91-9074582622">
                                                        <img src="{% static 'assets/images/phone-icon.png' %}" alt="">
                                                        +91-9074582622</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="info-post">
                                                <div class="icon"> <a
                                                        href="https://mail.google.com/mail/?view=cm&fs=1&tf=1&to=sales@hudels.com">
                                                        <img src="{% static 'assets/images/email-icon.png' %}" alt="">
                                                        sales@hudels.com</a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="info-post">
                                                <div class="icon"><a href="{% url 'contact' %}">
                                                        <img src="{% static 'assets/images/more-icon.png' %}" alt="">
                                                        More</a>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row mx-auto mt-2 mb-2 p-2">

                                            <div class="col-sm-6" style="margin-top: 10px;">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Registered Office :</h5>
                                                        <p class="card-text"># 1st Floor, Pandiyalil Building,

                                                            Opp My G Showroom, Near Palipaatu Temple,

                                                            Piravom P.O

                                                            Kochi - 686664</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6" style="margin-top: 10px;">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Partner Offices :</h5>
                                                        <h6>Bangalore:</h6>
                                                        <p class="card-text">#2nd Floor, 15/1, Hosur Main Road,

                                                            Siddhartha Colony, Koramangala 2nd Block,

                                                            Koramangala,

                                                            Bangalore - 560068</p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" style="margin-top: 10px;">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title"></h5>
                                                        <h6>Chennai</h6>
                                                        <p class="card-text">117/2 B, Ambattur OT, Chennai 600053

                                                        </p>

                                                    </div>
                                                </div>

                                            </div>

                                            <div class="col-sm-4" style="margin-top: 10px;">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title"></h5>
                                                        <h6>Singapore</h6>
                                                        <p class="card-text">1 Raffles place, Tower 2, #20-00
                                                            |Singapore, 048616

                                                        </p>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4" style="margin-top: 10px;">
                                                <div class="card h-100">
                                                    <div class="card-body">
                                                        <h5 class="card-title"></h5>
                                                        <h6>UAE</h6>
                                                        <p class="card-text">Next to Icelnad Waterpark, Al jazeera al
                                                            Hamra -
                                                            Ras al khaimah - UAE

                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row text-center d-flex justify-content-center ">
                                            <div class="col-lg-12">
                                                <div class="row text-center ">
                                                    <div class="col-4 text-center icons"> <a
                                                            href="https://www.facebook.com/profile.php?id=100074409433549">
                                                            <i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="col-4 text-center icons"><a
                                                            href="https://www.instagram.com/tripshouse/?hl=en"> <i
                                                                class="fa fa-instagram fa-2x"
                                                                aria-hidden="true"></i></a></div>
                                                    <div class="col-4 text-center icons"><a
                                                            href="https://wa.me/+919074582622"> <i
                                                                class="fa fa-whatsapp fa-2x" aria-hidden="true"></i></a>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <p>Copyright © 2022 Hudels Hospitality Services. All Rights Reserved.
                       <br> <a href="{% url 'privacy' %}">Privacy & Policy</a> | <a href="{% url 'terms' %}">Terms and Conditions</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <script>
        setTimeout(function () {
            $('.loader-bg').fadeToggle();
        }, 2000);
    </script>


    <!-- Scripts -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>

</body>

</html>